<tr class="bg-gray-300">
  <th>{dgettext("order", "Product")}</th>
  <th>{dgettext("order", "Amount")}</th>
  <%!-- <th>Product price</th> --%>
  <th>{dgettext("order", "Price")}</th>
  <th align="right">{dgettext("order", "Total price")}</th>
  <th align="right">{dgettext("order", "Total weight")}</th>
  <th class="w-0"></th>
</tr>
