<tr>
  <td>{dgettext("order", "Order items totals")}</td>
  <td></td>
  <%!-- <td></td> --%>
  <td></td>
  <td align="right">{@order_items_price}</td>
  <td align="right">{@order_items_weight}</td>
  <td></td>
</tr>
