<tr>
  <td>{dgettext("order", "Post packet")}</td>
  <td>
    <.input
      field={@field}
      type="select"
      options={@options}
      prompt={dgettext("order", "Select post packet")}
    />
  </td>
  <td></td>
  <td></td>
  <td align="right">{@weight}</td>
</tr>
